*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  color: hsl(184, 14%, 56%);
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
}

input {
  padding: 7px 10px;
}

input,
button {
  border: none;
  border-radius: 5px;
  font-size: 1.375em;
  color: hsl(183, 100%, 15%);
}

::placeholder {
  color: hsl(186, 14%, 43%);
}

/* Heading */

.header {
  text-align: center;
  margin: 50px auto;
}

/* Intro */

.intro {
  display: flex;
  max-width: 920px;
  margin: 0 auto;
}

/* DIVS */

.border-left {
  border-radius: 15px 0 0 15px;
}

.border-right {
  border-radius: 0 15px 15px 0;
}

.container {
  background-color: white;
  padding: 2em;
  width: 100%;
}

.container__cyan {
  padding: 2em;
  border-radius: 15px;
  background-color: hsl(183, 100%, 15%);
}

.section {
  margin: 20px 0;
  position: relative;
}

.section p {
  margin: 2px;
}

.svg-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

/* Input -- Bill & Number of people */

.bill__text,
.people__label {
  width: 100%;
}

.bill__text,
.people__label,
.btn__custom {
  background-color: hsl(189, 41%, 97%);
  outline: none;
  text-align: end;
}

.btn__custom::placeholder {
  text-align: center;
}

/* All the buttons */

.btns {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 120px);
  gap: 1em;
}

.btn {
  cursor: pointer;
  font-size: 1.375em;
  color: hsl(189, 41%, 97%);
  background-color: hsl(183, 100%, 15%);
}

.btn:hover,
.btn:active,
.btn__reset:hover,
.btn__reset:active {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.btn__custom {
  grid-area: 2/ 3;
}

.btn__custom:active,
.btn__custom:hover {
  border: 2px hsl(172, 67%, 45%) solid;
}

.btn__tip {
  background-color: hsl(183, 100%, 15%);
  color: hsl(172, 67%, 45%);
  padding: 0.5rem;
  font-size: 4vh;
  outline: none;
}

.btn__reset {
  outline: none;
  padding: 0.5em 2em;
  cursor: pointer;
  width: 100%;
  font-size: 1.375em;
  margin: 150px auto 10px;
  color: hsl(183, 300%, 15%);
  background-color: hsl(183, 110%, 25%);
  opacity: 0.7;
}

/* Tip amount / Total  */

.col {
  color: hsl(189, 41%, 97%);
  gap: 1em;
  display: flex;
  justify-content: space-between;
}

.person__text {
  color: hsl(186, 14%, 43%);
}

/* ERROR HANDLING */

.text__text {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.text__error {
  color: hsl(0, 50%, 50%);
}

.text__error {
  display: none;
}

/* ERROR HANDLING */

/* Media query */

@media (max-width: 800px) {
  p {
    font-size: 14px;
  }
  .intro {
    flex-direction: column;
    width: 70%;
  }

  .border-left {
    padding-bottom: 0;
  }

  .border-right {
    padding-top: 1em;
  }

  .btns {
    grid-template-columns: repeat(4, 1fr);
  }

  .five {
    grid-area: 1 / span 2;
  }

  .ten {
    grid-area: 1 / span 2;
  }
  .fifteen {
    grid-area: 2 / span 2;
  }
  .twentyfive {
    grid-area: 2 / span 2;
  }
  .fifty {
    grid-area: 3 / span 2;
  }

  .btn__custom {
    grid-area: 3 / span 2;
  }

  .border-left {
    border-radius: 15px 15px 0 0;
  }
  .border-right {
    border-radius: 0 0 15px 15px;
  }

  .btn__tip {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
}

/* Media query */

@media (max-width: 400px) {
  .container__cyan {
    padding: 10px;
  }
  .btn__reset {
    padding: 10px;
  }
}
